@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
.wow-such-widget {
  background-color:#f1c40f;
  margin:0;
  padding:0;
  width:300px;
  height:50px;
  color:#333;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
}
.wow-such-widget a{
  color:#0b0b0b;
  text-decoration: underline;
}
.wow-such-widget-overlay{
  height:46px;
  text-align: center;
  font-weight:700;
}
.wow-such-widget-inner{
  height:46px;
  font-weight:700;
  font-size:22px;
}
.wow-such-widget-credit{
  float:right;
  font-size:12px;
  margin:-18px 4% 0 0;
  font-weight:normal;
}
.wow-such-widget-lower-bar{
  height:4px;
  background-color:#000;
  opacity:0.15;
}
.wow-such-widget-animate {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}