<!DOCTYPE html>
<html lang="en-gb" ng-app="wowSuch" ng-controller="dogeController">

<head>
  <link rel="stylesheet" href="foundation.min.css" />
  <link rel="stylesheet" href="so.css" />
  <script src="angular.min.js"></script>
  <script src="such.js"></script>
  <meta charset="utf-8">
  <title ng-if="value" ng-bind="'1 DOGE = ' +value + ' BTC - Wow Such'">Dogecoin Price Calculator - Wow Such</title>
  <meta name="description" content="Wow Such, a Dogecoin price calculator. Compare Dogecoin values against Bitcoin.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="row very-row">

    <div class="small-6 columns">
      <h3><input class="much-input" ng-model="multiplier" type="tel" pattern="[0-9]{10}" autofocus /></h3>
    </div>

    <div class="small-6 columns">
      <h3>Dogecoin</h3>
    </div>

  </div>

  <div class="row">
    <div class="so-equals small-2 small-centered columns">
      <h2>=</h2>
    </div>
  </div>

  <div class="row">

    <div ng-if="multiplier==1">
      <div ng-if="!value" class="small-6 columns"></div>
      <div ng-if="value" class="such-fade very-value small-6 columns">
        <h3>{{value | number:8}}</h3>
      </div>
      <div class="small-6 columns">
        <h3>Bitcoin</h3>
      </div>
    </div>

    <div ng-if="multiplier!=1">
      <div class="very-value small-6 columns" >
        <h3>{{value*multiplier | number:8}}</h3>
      </div>
      <div class="small-6 columns">
        <h3>Bitcoin</h3>
      </div>
    </div>

  </div>

  <div class="row very-row">

    <div class="small-6 columns so-tweets">
      <a href="https://twitter.com/swirlycheetah" target="_blank">Twitter</a>
    </div>

    <div class="small-6 columns">
        <a href="https://github.com/swirlycheetah/wowsuch" target="_blank">Github</a>
    </div>

  </div>

  <script src="very.js"></script>

</body>

</html>
