<!DOCTYPE html>
<html lang="en" ng-app="wowSuch" ng-controller="dogeController" ng-cloak>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="http://wowsuch.io" />
  <!-- build:css doge.min.css -->
  <link rel="stylesheet" href="foundation.min.css" />
  <link rel="stylesheet" href="so.css" />
  <!-- endbuild -->
  <!-- build:js doge.min.js -->
  <script src="angular.min.js"></script>
  <script src="such.js"></script>
  <script src="very.js"></script>
  <!-- endbuild -->
  <title ng-if="singleDogecoinPriceInBTC" ng-bind="singleDogecoinPriceInBTC + ' - Dogecoin Price Calculator - Wow Such'">Dogecoin Price Calculator - Compare Dogecoin value to Bitcoin and USD - Wow Such</title>
  <meta name="description" content="Live Dogecoin price calculator. Compare Dogecoin value to Bitcoin and USD in real time. Get the Dogecoin exchange rate instantly. DOGE/BTC/USD market.">
</head>

<body>

  <div class="row">
    <div class="so-centered small-12 small-centered columns">
      <h1>Wow Such</h1>
      <h2>Dogecoin Price Calculator</h2>
    </div>
  </div>

  <div class="row">
    <div class="so-centered small-12 columns small-centered">
      <a class="nav-item on" href="http://wowsuch.io">Home</a>
      <a class="nav-item" href="http://wowsuch.io/widgets">Widgets</a>
      <a class="nav-item" href="https://github.com/swirlycheetah/wowsuch" target="_blank">Github</a>
      <a class="nav-item" href="https://twitter.com/swirlycheetah" target="_blank">Twitter</a>
    </div>
  </div>

  <div class="row very-row">

    <div class="small-6 columns">
      <h3><input class="much-input" ng-model="numberOfDogecoinInput" ng-change="amendDogecoinInput(numberOfDogecoinInput)" type="tel" placeholder="DOGE" autofocus /></h3>
    </div>

    <div class="small-6 columns">
      <h3>Dogecoin</h3>
    </div>

  </div>

  <div class="row">
    <div class="so-centered small-2 small-centered columns">
      <p class="equals">=</p>
    </div>
  </div>

  <div class="row">
    <div class="very-value small-6 columns" >
      <h3><input class="much-input" ng-model="numberOfBTCInput" ng-change="amendBTCInput(numberOfBTCInput)" type="tel"/></h3>
    </div>

    <div class="small-6 columns">
      <h3>Bitcoin</h3>
    </div>
  </div>

  <div class="row">
    <div class="so-centered small-2 small-centered columns">
      <p class="equals">=</p>
    </div>
  </div>

  <div class="row">
    <div class="very-value small-6 columns" >
      <h3><input class="much-input" ng-model="numberOfFIATInput" ng-change="amendFIATInput(numberOfFIATInput)" type="tel"/></h3>
    </div>

    <div class="such-left small-4 columns">
      <select class="much-input" ng-model="selectedCurrency" ng-options="currency.name for currency in currencies" ng-change="changeCurrency(selectedCurrency.name)"></select><br>
    </div>
  </div>

  <div class="row">
    <div class="so-centered small-12 small-centered columns">
      <h5>Donate: DQ3isvKeGUPjz1V44wXUxQdr9pAKd96df9</h5>
    </div>
  </div>

</body>

</html>
