<!DOCTYPE html>
<html lang="en-gb" ng-app="wowSuch" ng-controller="dogeController">

<head>
  <meta charset="utf-8">
  <title ng-if="value" ng-bind="'1 DOGE = ' +value + ' BTC - Wow Such'">Dogecoin Price Calculator - Wow Such</title>
  <meta name="description" content="Wow Such, a Dogecoin price calculator. Compare Dogecoin values against Bitcoin.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link data-require="foundation@5.0.0" data-semver="5.0.0" rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.0.0/css/normalize.css" />
  <link data-require="foundation@5.0.0" data-semver="5.0.0" rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.0.0/css/foundation.css" />
  <link data-require="foundation@5.0.0" data-semver="5.0.0" rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.0.0/css/foundation.min.css" />
  <script data-require="foundation@5.0.0" data-semver="5.0.0" src="//cdn.jsdelivr.net/foundation/5.0.0/js/foundation/foundation.js"></script>
  <script data-require="foundation@5.0.0" data-semver="5.0.0" src="//cdn.jsdelivr.net/foundation/5.0.0/js/foundation.min.js"></script>
  <script data-require="angular.js@*" data-semver="1.2.5" src="http://code.angularjs.org/1.2.5/angular.min.js"></script>
  <link rel="stylesheet" href="so.css" />
  <script src="such.js"></script>
  
</head>

<body>

  <div class="row very-row">
  
    <div class="small-6 columns">
      <h3><input class="much-input" ng-model="multiplier" type="text" autofocus /></h3>
    </div>

    <div class="small-6 columns">
      <h3>Dogecoin</h3>
    </div>
  
  </div>

  <div class="row">
    <div class="so-equals small-2 small-centered columns">
      <h2>=</h2>
    </div>
  </div>

  <div class="row">

    <div ng-if="multiplier==1">
      <div ng-if="!value" class="small-6 columns"></div>
      <div ng-if="value" class="such-fade very-value small-6 columns">
        <h3>{{value}}</h3>
      </div>
      <div class="small-6 columns">
        <h3>Bitcoin</h3>
      </div>
    </div>

    <div ng-if="multiplier!=1">
      <div class=" very-value small-6 columns">
        <h3>{{value*multiplier}}</h3>
      </div>
      <div class="small-6 columns">
        <h3>Bitcoin</h3>
      </div>
    </div>

  </div>
  
  <div class="row such-me such-fade">

    <div class="small-6 columns ">
      <a href="https://twitter.com/swirlycheetah" class="twitter-follow-button right" data-show-count="false" data-dnt="true">Follow @swirlycheetah</a>
    </div>

    <div class="small-6 columns">
      <iframe src="http://ghbtns.com/github-btn.html?user=swirlycheetah&repo=wowsuch&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </div>

  </div>

  <script src="very.js"></script>

</body>

</html>
