body {
  background: #F2EDE0;
  color:#222;
  background-image: url(img/doge.png);
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
}
.very-row, .such-me {
  margin-top: 5em;
}
input.much-input {
  width:50%;
  float:right;
}
.so-equals {
  text-align: center;
}
.very-value {
  text-align: right;
}
.such-fade {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
