body {
  background: #F2EDE0;
  color:#222;
  font-weight: bold;
}
.very-row {
  margin-top: 3em;
}
input.much-input {
  width:50%;
  float:right;
}
.so-centered {
  text-align: center;
}
.very-value, .so-tweets {
  text-align: right;
}
.such-fade {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
